@import "@carbon/colors/scss/colors";

.operator-tile {
    position: relative;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
    background: $carbon--gray-90;
    width: 141px;
    height: 141px;
    text-align: center;
    display: block;
}

.operator-label {
    color: white;
    position: absolute;
    top: 90px;
    left: 20px;
    display: block;
    width: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

.bx--tooltip__label {
    font-size: 14px;
    color: white;
}

.path {
    transform: scale(0.75) translate(60px, 60px);
}
